---
backend:
    name: github
    repo: radiokashana/radiokashana.github.io
    branch: develop

media_folder: static/img
public_folder: /img

collections:
    - name: noticia
      label: Noticia
      folder: "src/pages/noticias"
      create: true
      slug: "{{slug}}"
      fields:
        - { label: "Titulo", name: "title" }
        - { label: "Fecha", name: "date", widget: "datetime" }
        - { label: "Imagen", name: "image", widget: "image" }
        - { label: "Contenido", name: "body", widget: "markdown" }
    - name: settings
      label: Configuracion
      delete: false
      editor:
        preview: false
      files:
        - name: general
          label: Configuracion del sitio
          file: "_data/settings.json"
          fields:
            - { label: "Facebook Live embed html", name: "facebookLiveEmbedHtml", widget: string }
