@import "tachyons/src/_colors";
@import "tachyons";

.bl--mid-gray {
	border-left: 1px solid var(--mid-gray);
}

.br--near-black {
	border-right: 1px solid var(--near-black);
}

#news article {
	position: relative;
	max-height: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#news section:after {
	content: "";
	height:200px;
	width:100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: linear-gradient(transparent 50%, white);
}

#main-news article {
	font-family: Adelle, Georgia, serif;
	padding: 10px;
	background: linear-gradient(135deg, #417711b3, #dc4225b3);
	color: white;
}

.h-one-third-ar-16-9 {
	height: calc(100vw / 3 * 9 / 16);
}

.h-one-third-ar-4-3 {
	height: calc(100vw / 3 * 3 / 4);
}

.z--1 {
	z-index: -1;
}

.bg-top-gray-bottom-near-black {
	background: linear-gradient(to bottom, var(--gray) 0%, var(--near-black) 100%)
}

.bg-left-dark-red-bottom-near-black {
	background: linear-gradient(to bottom, var(--gray) 0%, var(--near-black) 100%)
}
