@import "~tachyons-colors";
@import "~tachyons";

.bl--mid-gray {
	border-left: 1px solid var(--mid-gray);
}

.br--near-black {
	border-right: 1px solid var(--near-black);
}

#news article {
	position: relative;
	max-height: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#news section:after {
	content: "";
	height:200px;
	width:100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: linear-gradient(rgba(255, 255, 255, 0) 50%, var(--white));
}

#main-news article {
	font-family: Adelle, Georgia, serif;
	padding: 10px;
	color: white;
	text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.h-one-third-ar-16-9 {
	height: calc(100vw / 3 * 9 / 16);
}

.h-one-third-ar-4-3 {
	height: calc(100vw * 3 / 4);
}

@media screen and (min-width: 30em) {
	.h-one-third-ar-4-3 {
		height: calc(100vw / 3 * 3 / 4);
	}

	iframe {
		height: 400px;
		width: 400px;
	}
}

.z--1 {
	z-index: -1;
}

.bg-top-gray-bottom-near-black {
	background: linear-gradient(to bottom, var(--gray) 0%, var(--near-black) 100%)
}

.bg-left-dark-red-bottom-near-black {
	background: linear-gradient(to bottom, var(--gray) 0%, var(--near-black) 100%)
}

iframe {
	height: 225px;
	width: 100%;
}
